<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" 
    crossorigin="anonymous" />
    <link rel="stylesheet" href="Rotatestyle.css">
    <title>Rotating Nav</title>
</head>
<body>
    <div class="container ">
        <div class="circle-container">
            <div class="circle">
                <button id="close">
                    <i class="fas fa-times"></i>
                </button>
                <button id="open">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </div>
        <div class="content">
        <h1>Amazing content</h1>
        <small>by Me Myself and I</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi tenetur esse officiis distinctio quae nostrum aliquid dignissimos doloremque ut, accusantium est vitae suscipit, et illo fugiat delectus enim. Repellendus quos reprehenderit, maiores iure laudantium doloribus ea, eius culpa tenetur fugit neque dicta explicabo sapiente totam minus hic consequatur incidunt, eum reiciendis corrupti amet perferendis commodi quis? Quia, et nostrum quasi velit, officiis porro ducimus similique, aperiam iusto reiciendis molestias sit magni sed minus quibusdam ut nam. Pariatur vitae quam quos velit enim, cupiditate illo! Molestias illo, fugiat expedita totam alias commodi, suscipit corrupti temporibus, laborum dolor natus atque autem doloremque.</p>
        <img src="https://images.unsplash.com/photo-1585335107823-94c8bc6c9291?ixid=
        nwxMjA3fDB8MHx0b3BpYy1mZWVkfDh8dG93SlpGc2twR2d8fGVufDB8fHx8&ixlib=
        rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">

        <h3>Thats it</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique iure assumenda molestiae sunt inventore ad, id, maxime sapiente iste eveniet animi ipsa vero, itaque expedita. Nulla, impedit ducimus. Sequi deserunt quod minima architecto inventore, quia tempora beatae assumenda quos natus tenetur et eveniet velit expedita, tempore labore. Consequuntur dolores commodi, est officia fugit, facere delectus, vero libero consequatur atque explicabo quos corrupti molestias unde at incidunt praesentium molestiae culpa porro!</p>
    </div>
</div>
    <nav>
        <ul>
            <li><i class="fas fa-home"></i>  Home</li>
            <li><i class="fas fa-user-alt"></i>  About</li>
            <li><i class="fab fa-earlybirds"></i>  Contact</li>
        </ul>
    </nav>
    <script src="Roatatescrypt.js"></script>
</body>
</html>